<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0 animated fadeIn fast">
                Elena
                <span class="text-warning">Pérez Calvo</span>
            </h1>
            <div class="subheading mb-5 animated fadeIn">
                Carrer Ribes 73 · Barcelona, CP 08013 · 638-823817 ·
                <a href="mailto:eperez045@gmail.com">eperez045@gmail.com</a>
            </div>
            <p class="lead mb-5 animated fadeIn">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
            <div class="social-icons animated fadeIn fast">
                <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
</div>