<section class="resume-section animate__animated animate__bounceInDown">
    <div class="resume-section-content">
        <div class="container">
            <h2 class="text-warning">Proyectos</h2>
            <div class="subheading mb-5">
                Un poco de mi trabajo
            </div>
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4">
                    <div class="card tarjeta border-10">
                        <img src="assets/img/paseagos.PNG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">PaseaGos</h5>
                            <p class="card-text">PaseaGos es una aplicacion web creada para el cuidado y entrenamiento de perros entre usuarios</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card border-10">
                        <img src="assets/img/periodico1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Otro Proyecto</h5>
                            <p class="card-text">Otro proyecto que todavia no he acabado :(, pero que me sirve para rellenar</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card border-10">
                        <img src="assets/img/diskette.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mini ejercicios variados</h5>
                            <p class="card-text">Enlace a mi git-hub donde encontraran desde la mitica calculadora javaScript que todo el mundo tiene hasta ejercicios mas elaborados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>